target
.classpath
.settings
.project
bin
test.*
*.sql

# Exclude lib folder filled with needed libraries (jar's)
!helloworld-tutorials/helloworld-ejb3/lib/*.jar
!helloworld-tutorials/helloworld-native/lib/*.jar
!helloworld-tutorials/helloworld-jpa/lib/*.jar
!helloworld-tutorials/helloworld-reverse/lib/*.jar